{{!-- Os seis atributos com valor e modificador derivado (p. 17-19) --}}
<fieldset class="bloco atributos-bloco">
  <legend>Atributos</legend>
  <div class="atributos-grid">
    {{#each atributosView as |attr|}}
    <div class="atributo-box {{#if attr.bonusItens}}com-item{{/if}}">
      <label class="atributo-nome" title="{{attr.nome}}">{{attr.abrev}}</label>
      <input class="atributo-valor" type="number" name="system.atributos.{{attr.key}}.value"
             value="{{attr.value}}" min="1" max="30" />
      {{#if attr.bonusItens}}
      <span class="atributo-item" title="Itens somam {{sinal attr.bonusItens}} em {{attr.nome}}: total {{attr.total}}">
        {{sinal attr.bonusItens}} = {{attr.total}}
      </span>
      {{/if}}
      <a class="atributo-mod" data-action="rolarAtributo" data-atributo="{{attr.key}}"
         title="Rolar 1d20 + modificador de {{attr.nome}}">{{sinal attr.mod}}</a>
    </div>
    {{/each}}
  </div>
</fieldset>
