<div class="tab pericias {{tab.cssClass}}" data-group="primary" data-tab="pericias">

  <fieldset class="bloco pericias-bloco">
    <legend>Perícias</legend>
    <p class="dica">
      Bônus = modificador do atributo-chave + metade do nível + Bônus de Treinamento
      (Mestre soma 1,5x) + outros (p. 278).
      {{#if system.periciasExtras}}
      Você recebe <b>{{system.periciasExtras}}</b> treinamento(s) adicional(is) pelo atributo
      escolhido na criação (p. 283).
      {{/if}}
    </p>

    <div class="pericias-cabecalho">
      <span class="col-prof" title="Treinado / Mestre">T / M</span>
      <span class="col-nome">Perícia</span>
      <span class="col-attr">Attr</span>
      <span class="col-total">Bônus</span>
      <span class="col-outros">Outros</span>
    </div>

    <ol class="pericias-lista">
      {{#each periciasView as |p|}}
      <li class="pericia-linha {{#if p.bloqueada}}bloqueada{{/if}} {{#if p.complementar}}complementar{{/if}}">
        <span class="col-prof">
          <input type="checkbox" name="system.pericias.{{p.key}}.treinado" {{#if p.treinado}}checked{{/if}} title="Treinado" />
          <input type="checkbox" name="system.pericias.{{p.key}}.mestre" {{#if p.mestre}}checked{{/if}} title="Mestre" />
        </span>
        <a class="col-nome" data-action="rolarPericia" data-pericia="{{p.key}}"
           title="{{#if p.bloqueada}}Exige treinamento para uso normal. {{/if}}Rolar {{p.nome}}">
          {{p.nome}}
          {{#if p.exigeTreino}}<i class="fas fa-lock" title="Exige treinamento (p. 284-287)"></i>{{/if}}
          {{#if p.complementar}}<i class="fas fa-circle-half-stroke" title="Perícia complementar: opcional na campanha"></i>{{/if}}
        </a>
        <span class="col-attr">{{p.abrevAtributo}}</span>
        <span class="col-total">{{sinal p.total}}</span>
        <input class="col-outros" type="number" name="system.pericias.{{p.key}}.outros" value="{{p.outros}}" step="1" />
      </li>
      {{/each}}
    </ol>
  </fieldset>

  {{!-- A ficha oficial traz três linhas de Ofício. Esta parte é compartilhada
        com a ficha de NPC, que não tem o campo, por isso o guard. --}}
  {{#if ehPersonagem}}
  {{#if oficiosView}}
  <fieldset class="bloco pericias-bloco">
    <legend>Ofícios</legend>
    <div class="pericias-cabecalho">
      <span class="col-prof">T / M</span>
      <span class="col-nome">Subcategoria</span>
      <span class="col-attr">Attr</span>
      <span class="col-total">Bônus</span>
      <span class="col-outros">Outros</span>
    </div>
    <ol class="pericias-lista">
      {{#each oficiosView as |o|}}
      <li class="pericia-linha">
        <span class="col-prof">
          <input type="checkbox" name="system.oficios.{{o.idx}}.treinado" {{#if o.treinado}}checked{{/if}} title="Treinado" />
          <input type="checkbox" name="system.oficios.{{o.idx}}.mestre" {{#if o.mestre}}checked{{/if}} title="Mestre" />
        </span>
        <span class="col-nome oficio-nome">
          <a data-action="rolarOficio" data-idx="{{o.idx}}" title="Rolar Ofício">Ofício</a>
          <input type="text" name="system.oficios.{{o.idx}}.especialidade" value="{{o.especialidade}}"
                 placeholder="Ferreiro, Alfaiate, Alquimia…" />
        </span>
        <span class="col-attr">INT</span>
        <span class="col-total">{{sinal o.total}}</span>
        <input class="col-outros" type="number" name="system.oficios.{{o.idx}}.outros" value="{{o.outros}}" step="1" />
        <a class="mini-btn" data-action="removerOficio" data-idx="{{o.idx}}" title="Remover"><i class="fas fa-trash"></i></a>
      </li>
      {{/each}}
    </ol>
    <button type="button" data-action="adicionarOficio"><i class="fas fa-plus"></i> Adicionar Ofício</button>
    <p class="dica">Ofício só pode ser usado se você for Treinado, e cada linha exige escolher uma subcategoria (p. 287).</p>
  </fieldset>
  {{else}}
  <fieldset class="bloco">
    <legend>Ofícios</legend>
    <p class="vazio">Nenhuma linha de Ofício. A ficha oficial traz três.</p>
    <button type="button" data-action="adicionarOficio"><i class="fas fa-plus"></i> Adicionar Ofício</button>
  </fieldset>
  {{/if}}
  {{/if}}
</div>
