<div class="tab habilidades {{tab.cssClass}}" data-group="primary" data-tab="habilidades">

  {{!-- Invocações não têm bloco de jujutsu próprio; só NPCs e personagens --}}
  {{#if system.jujutsu}}
  <fieldset class="bloco">
    <legend>Perfil Amaldiçoado</legend>
    <div class="perfil-grid">
      <label>Atributo da Técnica
        <select name="system.jujutsu.atributoTecnica">
          {{#each atributos as |a|}}
          <option value="{{a.id}}" {{#if (eq a.id ../system.jujutsu.atributoTecnica)}}selected{{/if}}>{{a.nome}}</option>
          {{/each}}
        </select>
      </label>
      <label>Outros bônus na CD
        <input type="number" name="system.jujutsu.cdOutros" value="{{system.jujutsu.cdOutros}}" step="1" />
      </label>
    </div>
    <p class="dica">CD Amaldiçoada: <b>{{system.cdAmaldicoada}}</b> · Ataque Amaldiçoado: <b>{{sinal system.ataqueAmaldicoado}}</b></p>
  </fieldset>
  {{/if}}

  <fieldset class="bloco">
    {{> "systems/fnm/templates/actors/parts/actor-itens.html" titulo="Técnicas" tipo="tecnica" itens=itens.tecnica}}
  </fieldset>

  <fieldset class="bloco">
    {{> "systems/fnm/templates/actors/parts/actor-itens.html" titulo="Aptidões Amaldiçoadas" tipo="aptidao" itens=itens.aptidao}}
  </fieldset>

  <fieldset class="bloco">
    {{> "systems/fnm/templates/actors/parts/actor-itens.html" titulo="Dotes" tipo="dote" itens=itens.dote}}
  </fieldset>

  <fieldset class="bloco">
    {{> "systems/fnm/templates/actors/parts/actor-itens.html" titulo="Características" tipo="caracteristica" itens=itens.caracteristica}}
  </fieldset>

  <fieldset class="bloco">
    {{> "systems/fnm/templates/actors/parts/actor-itens.html" titulo="Habilidades" tipo="habilidade" itens=itens.habilidade}}
  </fieldset>

  <fieldset class="bloco">
    {{> "systems/fnm/templates/actors/parts/actor-itens.html" titulo="Equipamentos" tipo="equipamento" itens=itens.equipamento}}
  </fieldset>
</div>
